
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom
@import 'custom';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 55px;
  font-weight: bold;
  color: #15959F;
}

a {
  font-family: 'Gloria Hallelujah', cursive;
  color: #F1E4B3;
  font-size: 20px;
}

h1 {
  color: #133046;
  // font-family: 'Lato', sans-serif;
  // font-family: 'Indie Flower', cursive;
  font-family: 'Gloria Hallelujah', cursive;
  // font-family: 'Permanent Marker', cursive;
  // font-family: 'Caveat', cursive;
}
